Source: release-notes
Section: doc
Priority: optional
Maintainer: Debian Documentation Project <debian-doc@lists.debian.org>
Uploaders: 
Standards-Version: 3.8.2
Build-Depends-Indep: docbook-xsl, dblatex, xsltproc, po4a, w3m, libxml2-utils, xmlroff, texlive-lang-cyrillic
# ttf-arphic-ukai, ttf-arphic-uming, ttf-arphic-bkai00mp, ttf-arphic-bsmi00lp, ttf-arphic-gbsn00lp, ttf-arphic-gkai00mp
# texlive- (used by dblatex)
Build-Depends: debhelper (>= 5)
Vcs-Svn: svn://svn.debian.org/ddp/manuals/trunk/release-notes
Vcs-Browser: http://svn.debian.org/wsvn/ddp/manuals/trunk/release-notes?op=log

Package: release-notes
Architecture: all
Description: 
