Source: debian-reference
Section: doc
Priority: optional
Maintainer: Osamu Aoki <osamu@debian.org>
Build-Depends-Indep: debiandoc-sgml, tetex-bin, tetex-extra
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.6

Package: debian-reference-common
Architecture: all
Recommends: debian-reference-en
Suggests: doc-base, debian-reference-fr, debian-reference-it
Description: This is common examples for Debian reference.
 This Debian reference (http://qref.sourceforge.net/) covers many
 aspects of system administration through shell-command examples.  Basic
 tutorials, tips, and other information are provided for topics
 including fundamental concepts of Debian system, system installation
 hints, Debian package management, the Linux kernel under Debian, system
 tuning, building a gateway, text editors, CVS, programming, and GnuPG
 for non-developers.  For help with emergency system maintenance,
 proceed to Section 6.2, `Debian survival commands' immediately.  The
 latest official version is http://www.debian.org/doc/manuals/reference/
 and the latest development version is
 http://qref.sourceforge.net/quick/.  Project is hosted at
 http://qref.sourceforge.net/.

Package: debian-reference-en
Architecture: all
Suggests: doc-base
Depends: debian-reference-common
Description: This is English original version of Debian reference. 
 This Debian reference (http://qref.sourceforge.net/) covers many
 aspects of system administration through shell-command examples.  Basic
 tutorials, tips, and other information are provided for topics
 including fundamental concepts of Debian system, system installation
 hints, Debian package management, the Linux kernel under Debian, system
 tuning, building a gateway, text editors, CVS, programming, and GnuPG
 for non-developers.  For help with emergency system maintenance,
 proceed to Section 6.2, `Debian survival commands' immediately.  The
 latest official version is http://www.debian.org/doc/manuals/reference/
 and the latest development version is
 http://qref.sourceforge.net/quick/.  Project is hosted at
 http://qref.sourceforge.net/. 

Package: debian-reference-fr
Architecture: all
Suggests: doc-base
Depends: debian-reference-common
Description: This is French translation of Debian reference.
 Ce Guide de référence pour Debian (http://qref.sourceforge.net/) couvre
 un certain nombre d'aspects de l'administration système à l'aide
 d'exemples de commandes shell.  Des didacticiels sur les bases, des
 astuces, et d'autres informations sont fournies sur des sujets comme
 les concepts fondamentaux du système Debian, des astuces
 d'installation, la gestion des paquets Debian, le noyau Linux sous
 Debian, la configuration du système, la configuration d'une passerelle,
 les éditeurs de texte, CVS, la programmation, et GnuPG pour des
 non-développeurs.  Pour de l'aide en vue de la maintenance urgente d'un
 système, consultez immédiatement Section 6.2, `Commandes de survie
 Debian'.  La dernière version officielle est
 http://www.debian.org/doc/manuals/reference/ et la dernière version de
 développement est http://qref.sourceforge.net/quick/.  Le projet est
 hébergé sur http://qref.sourceforge.net/. 

Package: debian-reference-it
Architecture: all
Suggests: doc-base
Depends: debian-reference-common
Description: This is Italian translation of Debian reference.
 Questa La guida Debian (http://qref.sourceforge.net/) copre molti
 aspetti dell'amministrazione di sistema attraverso esempi di comandi da
 shell.  Vengono proposte lezioni base, trucchi e molte altre
 informazioni su molti argomenti, tra cui i concetti fondamentali tipici
 di un sistema Debian, suggerimenti per l' installazione, il sistema
 Debian di gestione dei pacchetti, il kernel sotto Debian, l'affinamento
 del sistema, la costruzione di un gateway, editori di testo, CVS,
 programmazione e GnuPG per i non-sviluppatori.  Se cercate un aiuto per
 una manutenzione di emergenza del sistema andate immediatamente a
 Sezione 6.2, `Comandi di sopravvivenza Debian'.  L'ultima versione
 ufficiale è http://www.debian.org/doc/manuals/reference/ e l'ultima in
 fase di sviluppo è http://qref.sourceforge.net/quick/.  Il progetto è
 ospitato presso http://qref.sourceforge.net/. 

