#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=3
export LC_ALL=C

MANUAL := debian-reference
LANGS := en fr it
BUILD_TYPE := package
ENTFILES := $(foreach lang,$(LANGS),dynamic.$(lang).ent)

dynamic.%.ent:
	echo "<!entity language \"$*\">"       > $@
	echo "<!entity % lang-$* \"INCLUDE\">" >> $@
	echo "<!entity docversion \"$(shell \
		LC_ALL=C \
		dpkg-parsechangelog | \
		grep '^Version: ' | \
		sed 's/^Version: *//')\">" >> $@
	echo "<!entity docdate \"$(shell \
		LC_ALL=C \
		dpkg-parsechangelog | \
		grep '^Date: ' | \
		sed 's/^Date: *//')\">" >> $@


configure: configure-stamp
configure-stamp: $(ENTFILES)
	dh_testdir
	# Do nothing
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	# Add here commands to compile the package.
	$(MAKE) "MANUAL=$(MANUAL)" "LANGS=$(LANGS)" "BUILD_TYPE=$(BUILD_TYPE)" html txt pdf ps
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	-$(MAKE) "MANUAL=$(MANUAL)" "LANGS=$(LANGS)" "BUILD_TYPE=$(BUILD_TYPE)" clean
	dh_clean

refresh: clean
	dh_testdir
	dh_testroot
# 	cvs -d :ext:osamu@cvs.qref.sf.net:/cvsroot/qref up
	cvs -d :pserver:anonymous@cvs.qref.sf.net:/cvsroot/qref up

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/debian-reference.
	$(MAKE) LANGS=en "MANUAL=$(MANUAL)" "BUILD_TYPE=$(BUILD_TYPE)" \
	    PUBLISHDIR=$(CURDIR)/debian/debian-reference-common/usr/share/doc \
	    publish-examples
	$(MAKE) LANGS=en "MANUAL=$(MANUAL)" "BUILD_TYPE=$(BUILD_TYPE)" \
	    PUBLISHDIR=$(CURDIR)/debian/debian-reference-en/usr/share/doc \
	    publish-html publish-txt publish-ps publish-pdf
	$(MAKE) LANGS=fr "MANUAL=$(MANUAL)" "BUILD_TYPE=$(BUILD_TYPE)" \
	    PUBLISHDIR=$(CURDIR)/debian/debian-reference-fr/usr/share/doc \
	    publish-html publish-txt publish-ps publish-pdf
	$(MAKE) LANGS=it "MANUAL=$(MANUAL)" "BUILD_TYPE=$(BUILD_TYPE)" \
	    PUBLISHDIR=$(CURDIR)/debian/debian-reference-it/usr/share/doc \
	    publish-html publish-txt publish-ps publish-pdf


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
#	dh_movefiles
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
	dh_installcron
	dh_installman
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install configure refresh
