%%% This file is made by Osamu
%%% See /etc/texmf/, web2c.dvi.gz, info kpathsea, texconfig,
%%% KPATHSEA_DEBUG=-1, ..., for more information and help.
%hyph_size = 2000        % number of hyphenation exceptions, >610 and <32767.
%nest_size = 1000         % simultaneous semantic levels (e.g., groups)
%max_in_open = 30        % simultaneous input files and error insertions
%param_size = 10000       % simultaneous macro parameters
%save_size = 10000        % for saving values outside current group
%stack_size = 3000       % simultaneous input sources

% Max number of characters in all strings, including all error messages,
% help texts, font names, control sequences.  These values apply to TeX and MP.
pool_size.context = 3000000
pool_size = 500000
% Minimum pool space after TeX/MP's own strings; must be at least
% 25000 less than pool_size, but doesn't need to be nearly that large.
string_vacancies.context = 180000
string_vacancies = 100000
% Maximum number of strings.
max_strings.context = 220000
max_strings = 60000
% min pool space left after loading .fmt
pool_free.context = 200000
pool_free = 20000

%% use format files of current dir only (support more hyphenation patterns)
%% . should be in the default path, but I suggest not to trust defaults
%TEXFORMATS = .
