Source: debian-faq
Section: doc
Priority: standard
Maintainer: Javier Fernandez-Sanguino Pen~a <jfs@computer.org>
Uploaders: Pierre Machard <pmachard@debian.org>, Josip Rodin <joy-packages@debian.org>
Build-Depends-Indep: debiandoc-sgml, tetex-bin, tetex-extra
Standards-Version: 3.6.2.0
Vcs-Browser: http://svn.debian.org/wsvn/ddp/manuals/trunk/faq/
Vcs-Svn: svn://svn.debian.org/ddp/manuals/trunk/faq/

Package: debian-faq
Architecture: all
Suggests: www-browser, postscript-viewer
Conflicts: doc-debian <= 3.1.5
Description: The Debian FAQ
 In this package you will find the Debian GNU/Linux FAQ, which gives
 frequently asked questions (with their answers!) about the Debian distribution
 Debian GNU/Linux and others) and about the Debian project.  You'll find out
 that some answers assume some knowledge of Unix-like operating systems.  We'll
 try to assume as little prior knowledge as possible: answers to general
 beginners questions will be kept simple.
 .
 This document is available at http://www.debian.org/doc/manuals/debian-faq/
 as well as from the Debian ftp server at ftp://ftp.debian.org/debian/doc/FAQ
 and mirrors thereof.
 .
 The document is supplied in HTML, PDF, PostScript and plain ascii.
 .
 If you're new to Debian, and like to read documentation from your local system,
 without using the network, install this package.
