#!/usr/bin/make -f
# derived from sample debian/rules file for GNU hello by Ian Jackson.

tmp = $(CURDIR)/debian/tmp
docdir = $(tmp)/usr/share/doc/debian

build: stamp-build
stamp-build:
	test -f Makefile -a -f debian/rules
	$(MAKE) html text ps pdf
	gzip -9 debian-faq.en.txt debian-faq.en.ps debian-faq.en.pdf
	for l in de it; do \
          gzip -9 $$l/debian-faq.$$l.txt $$l/debian-faq.$$l.ps \
           $$l/debian-faq.$$l.pdf; \
        done
	touch $@

clean:
	test -f Makefile -a -f debian/rules
	test "`id -u`" -eq 0
	$(MAKE) clean
	rm -rf $(tmp)
	rm -f *.gz stamp-build debian/files `find . -name "*~"`

binary: binary-indep binary-arch

binary-arch:

binary-indep: build
	test -f Makefile -a -f debian/rules
	test "`id -u`" -eq 0
	rm -rf $(tmp)

	install -m 755 -d $(tmp)/DEBIAN $(docdir)/FAQ \
          $(tmp)/usr/share/doc-base $(tmp)/usr/share/doc/debian-faq
	install -m 644 debian-faq.en.txt.gz debian-faq.en.ps.gz \
                    debian-faq.en.pdf.gz debian-faq.en.html/* $(docdir)/FAQ

	for l in de it; do \
          install -m 755 -d $(docdir)/FAQ/$$l; \
          install -m 644 $$l/debian-faq.$$l.txt.gz $$l/debian-faq.$$l.ps.gz \
           $$l/debian-faq.$$l.pdf.gz $(docdir)/FAQ; \
          install -m 644 $$l/debian-faq.$$l.html/* $(docdir)/FAQ/$$l/; \
        done

	cd $(docdir)/FAQ && for file in *.en.html; do \
          ln -s $$file $${file%$${file#$${file%.en.html}}}.html; \
        done
# Make links for the byhands
	ln -sf debian-faq.en.txt.gz $(docdir)/FAQ/debian-faq.txt.gz
	ln -sf debian-faq.en.ps.gz $(docdir)/FAQ/debian-faq.ps.gz
	ln -sf debian-faq.en.pdf.gz $(docdir)/FAQ/debian-faq.pdf.gz
	ln -sf debian-faq.en.pdf.gz $(docdir)/FAQ/debian-faq.pdf.gz

	install -m 755 debian/prerm debian/postinst $(tmp)/DEBIAN
	install -m 644 debian/doc-base $(tmp)/usr/share/doc-base/debian-faq
	install -m 644 debian/copyright $(tmp)/usr/share/doc/debian-faq
	gzip -c9 debian/changelog > $(tmp)/usr/share/doc/debian-faq/changelog.gz
	chown -R root.root $(tmp) && chmod -R go=rX $(tmp)
	dpkg-gencontrol -isp
	dpkg --build $(tmp) ..

# The extra-package files:
	mv $(docdir)/FAQ/debian-faq.*txt.gz \
           $(docdir)/FAQ/debian-faq.*ps.gz \
           $(docdir)/FAQ/debian-faq.*pdf.gz \
             ../
	cd $(docdir)/FAQ/ && GZIP=-9 tar czf $(CURDIR)/../debian-faq.en.html.tar.gz *

	dpkg-distaddfile debian-faq.en.html.tar.gz byhand -
	dpkg-distaddfile debian-faq.en.txt.gz byhand -
	dpkg-distaddfile debian-faq.en.ps.gz byhand -
	dpkg-distaddfile debian-faq.en.pdf.gz byhand -

.PHONY: build clean binary binary-arch binary-indep
