Source: refcard
Section: doc
Priority: optional
Maintainer: Debian Documentation Project <debian-doc@lists.debian.org>
Uploaders: W. Martin Borgert <debacle@debian.org>
Standards-Version: 3.7.3
Build-Depends: cdbs, debhelper, docbook-xsl, pdfjam, pdftk, po4a, xmlroff, xpdf-utils, xsltproc
Vcs-Svn: svn://svn.debian.org/svn/ddp/refcard/trunk
Vcs-Browser: http://svn.debian.org/wsvn/ddp/refcard/trunk
Homepage: http://xinocat.com/refcard/

Package: debian-refcard
Architecture: all
Recommends: evince | pdf-viewer
Description: printable reference card for the Debian system
 The Debian GNU/Linux reference card provides new users help with
 the most important commands. Basic knowledge of computers, files,
 directories and the command line is required, however. The
 package contains printable PDF files in multiple languages.
