Source: refcard
Section: doc
Priority: optional
Maintainer: Debian Documentation Project <debian-doc@lists.debian.org>
Uploaders: W. Martin Borgert <debacle@debian.org>
Standards-Version: 3.8.0
Build-Depends: cdbs, dblatex (>= 0.2.9-3), debhelper, dia, docbook-xsl, lmodern, pdfjam, pdftk, po4a, xmlroff (>= 0.6.0), poppler-utils, xsltproc
Vcs-Svn: svn://svn.debian.org/svn/ddp/manuals/trunk/refcard
Vcs-Browser: http://svn.debian.org/wsvn/ddp/manuals/trunk/refcard/
Homepage: http://xinocat.com/refcard/

Package: debian-refcard
Architecture: all
Depends: ${misc:Depends}
Recommends: evince | pdf-viewer
Suggests: doc-base
Description: printable reference card for the Debian system
 The Debian GNU/Linux reference card provides new users help with
 the most important commands. Basic knowledge of computers, files,
 directories and the command line is required, however. The
 package contains printable PDF files in multiple languages.
